.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagination button, .pagination p{
    border: 2px #00ad45 solid;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.pagination button{
    cursor: pointer;
}

.pagination button:hover{
    transform: translateY(-2px);
    transition: all 0.5s linear;
}