.all-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.all-content h2{
  justify-self: flex-start;
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px #444444 solid;
  padding-bottom: 1rem;
}

.movies {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  width: 100%;
}

.movie {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie img {
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.movie-title {
  background-color: #2b332e;
  width: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  bottom: 5px;
  transition: all 0.5s linear;
}

.movie-title h3 {
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 5px;
  text-align: center;
}

.movie:hover .movie-title {
  opacity: 1;
  z-index: 0;
}

.movie:hover .overlay-card {
  opacity: 0.8;
}

/*........overlay...........*/
.overlay-card {
  background-color: #000;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .all-content{
    gap: 1rem;
  }
}