.sideBar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 100vh;
  transition: 300ms ease-in-out;
  overflow: hidden;
  width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Kalam", cursive;
}

.sidebar-toggle {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.sidebar-toggle:hover {
  color: rgba(0, 173, 69, 1);
}

.sidebar-toggle.rotated {
  transform: rotate(180deg);
  padding: 0 10px;
}

.sidebar-toggle.rotated:hover {
  color: white;
  background-color: rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: inset 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.sideBar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 1rem;
}

.sideBar.collapsed {
  width: 70px;
}

.sideBar.collapsed h2 {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  margin-top: 2rem;
}

.links div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 1.5rem 1rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.links div h4 {
  font-size: 18px;
  margin: 0;
}

.links div:hover {
  color: rgba(0, 173, 69, 1);
  text-decoration: none;
}

.links.icons-only h4 {
  display: none;
}

@media only screen and (max-width: 600px) {
  .sideBar {
    width: 100vw;
    height: 50px;
    z-index: 222;
    gap: 0;
    padding: 1rem;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .sideBar.collapsed {
    width: 100vw;
  }
  .sideBar-top,
  .sidebar-toggle,
  .sideBar h2,
  .links div h4 {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
  }
  .links div {
    padding: 0;
    margin: 0;
  }
}
