.movie{
}

.movie img{
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.movie-title{
    background-color: #00AD45;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: absolute;
}

.movie-title h3{
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 5px;
}