@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Kalam:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #242424;
  font-family: 'Inter', sans-serif;
}


header h1{
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 48px;
}

header h1::first-letter{
  color: rgba(0, 173, 69, 1);
}